/* Sonia Template */

body {
	
}

a {
	text-decoration: none;
	color: #2489DB;
	
}

a:hover {
	color: #808080;
}

a img {
	border: 0;
}

h3 {
	font-size: 1.3em;
	margin: 0 0 5px 0;
	padding: 2px 0px 0px 0px;
}

#bg { 
	width: 760px;
	margin: 0 auto;
	padding: 5px 10px 10px 10px;
	
}


#sadrzaj {
	padding-top: 9px;
	color: #636363;
	width: 736px;
	padding-left: 2px;

}

#head{
float: left;


}


#zaglavlje {
	clear: both;
	margin: 0px 0 10px 0;
	height: 120px;
	 border: 1px solid #333;
	
}

#title {
	float: left;
	font-size: 14pt;
	font-weight: bold;
	padding-top: 50px;
	padding-left: 50px;

}

#title_info {
	float: right;
	height: auto;
	padding: 8px;
	width: 210px;
	margin: 25px 5px 0 0;
	border: 2px solid #fff;	
	background: #FFF5D9;
	color: #808080;
	 border: 1px solid #333;
}

#title_info p {
	margin: 0;
	

}

#navigacija {
	clear: left;
	float: left;
	width: 150px;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 0.9em;
	 border: 1px solid #333;

	
}
#navigacija p {
	font-size: 12pt;
	

}




#clanci {
	margin:  0 0 5px 155px;
	padding: 0 10px 5px 10px;
	line-height: 1.4em;
	 border: 1px solid #333;
		
	
	

}

#floatleft{
        clear: left;
        float: left;
        position: relative;
        margin-right: 20px; /*внешний отступ*/
        margin-top: 20px; /*внешний отступ*/
        margin-bottom: 20px; /*внешний отступ*/
        padding: 10px; /*внутренний отступ*/
        font-size: small;
        text-align: center;
        font-weight: bold;      
}

#clanci h2 {
	margin: 0px;
	padding: 4px 0 4px 0;
	font-size: 12pt;
	
}

#clanci p {
	margin: 0;
}

